@mixin job-search-filter-input-override {
  app-job-search-filter {
    .job-search-filter-component {
      p-multiselect {
        .p-multiselect {
          background: transparent;
        }

        .p-multiselect-label {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
        }
      }

      p-autocomplete.custom-autocomplete {
        .p-inputwrapper > input {
          padding: 14px 20px;
          border-radius: 0;
          background: none;
          color: white;
        }
      }
    }

    .additional-filters {
      p-dropdown .p-dropdown {
        background: transparent !important;

        span.p-inputtext {
          color: white !important;
        }
      }
    }
  }
}
