<app-job-search-filter (filtersChanged)="onFilterChange($event)"></app-job-search-filter>

<section class="bg-blue-100 ">
  <div class="container mx-auto p-4 h-full">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 h-full">
      <div class="md:col-span-1 flex flex-col h-full">
        <div class="overflow-y-auto h-full">
          <app-job-card-listing
            (onSelectJob)="previewJob($event)"
            [jobs]="filteredJobs()">
          </app-job-card-listing>
        </div>
      </div>
      <div class="md:col-span-3 h-full sticky top-3 h-max">
        <app-job-preview
          [isLoading]="(isLoading$ | async) ?? false"
          [job]="selectedJob()"
          class="h-full">
        </app-job-preview>
      </div>
    </div>
  </div>
</section>
